<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phyho.web.IndexDAO">

	<select id="member" resultType="Map">
		SELECT * FROM members 
	</select>

	<select id="boardList" resultType="Map">
		SELECT * FROM boardview ORDER BY bno DESC LIMIT 0, 50
	</select>

	<select id="moreList" parameterType="Integer" resultType="Map">
		<![CDATA[ 
			SELECT * FROM boardview 
			WHERE bno < #{bno} and bno > #{bno}-50
			ORDER BY bno DESC LIMIT 50 
		]]>
	</select>
	
</mapper>